@import "./config.scss";

section.dashboard {
  @include flex(stretch, start, 5px, row);
  height: 100%;
  & > div.left,
  & > div.right {
    width: 100%;
  }
  & > div.left {
    flex: 0;
  }
  & > div.right {
    padding: 1.5rem;
    max-height: 85dvh;
    overflow-y: auto;
    &::-webkit-scrollbar {
      width: 5px;
    }
    @include media(max, 520px) {
      padding: 1.5rem 5px;
    }
  }
  @include media(max, 480px) {
    & > div.left {
      display: none;
    }
  }
}
