@import "./config.scss";

section.dashboard {
  @include flex(stretch, start, 5px, row);
  height: 100%;
  & > div.left,
  & > div.right {
    width: 100%;
  }
  & > div.left {
    flex: 0;
    position: relative;
  }
  & > div.right {
    padding: 1.5rem;
    max-height: 85vh;
    overflow-y: auto;
    @include flex(stretch, space-between, 1rem, column);
    &::-webkit-scrollbar {
      width: 5px;
    }
    @include media(max, 520px) {
      padding: 1.5rem 5px;
    }
  }
  @include media(max, $tablet-width-menu) {
    & > div.left {
      min-width: 55px;
    }
  }
  @include media(max, $mobile-width-menu) {
    & > div.left {
      display: none;
    }
  }
}
