@import "./config.scss";
header.header {
  background: $pry-bg;
  box-shadow: $shadow;
  @include flex(center, start, 1rem, row);
  padding: 0 1rem;
  position: relative;
  overflow-y: hidden;
  &::after {
    content: "";
    width: 300px;
    height: 300px;
    position: absolute;
    top: 0;
    right: 0;
    background: url(../assets/images/vest.png);
    background-repeat: no-repeat;
    opacity: 0.3;
    background-size: cover;
  }
  div.logo-container {
    font-family: "bike-to-work" !important;
    font-weight: bold;
    cursor: pointer;
    font-size: 40px;
    color: nth($pry-colors, 2);
    span {
      font-family: "font-light" !important;
      font-size: 29px;
      font-weight: normal;
      color: nth($pry-colors, 4);
    }
  }
}
