@import "./config.scss";

section.login {
  height: 100%;
  position: relative;
  overflow: hidden;
  height: 100%;
  @include flex(center, center, 0, row);
  background: linear-gradient(
    to bottom right,
    nth($pry-colors, 1),
    lighten(nth($pry-colors, 2), 10)
  );
  & > div.modal {
    height: 80%;
    z-index: 1;
    background: nth($pry-colors, 4);
    min-width: 500px;
    border-radius: 7px;
    padding: 1rem;
    & > h1 {
      color: nth($pry-colors, 2);
    }
    @include flex(center, start, 1rem, column);
    .form {
      width: 80%;
      @include flex(start, start, 2rem, column);
    }
    .input {
      width: 100%;
    }
    .btn-container {
      width: 100%;
      margin-top: 2rem;
      text-align: center;
      button.btn {
        transition: 500ms;
        color: nth($pry-colors, 4);
        width: 80%;
        background: linear-gradient(
          to right,
          nth($pry-colors, 1),
          nth($pry-colors, 3)
        ) !important;
        &:hover,
        &:focus {
          background: linear-gradient(
            to right,
            nth($pry-colors, 3),
            nth($pry-colors, 1)
          ) !important;
        }
      }
    }
    @include media(max, 600px) {
      min-width: 80%;
    }

    @include media(max, 340px) {
      min-width: 50vw;
      padding: 1rem 0;
    }
  }

  &::before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.2;
    background-image: url(../assets/images/military-gear.png);
  }

  // &::after {
  //   width: 600px;
  //   right: -20rem;
  //   bottom: -5rem;
  //   transform: rotateZ(65deg);
  //   backdrop-filter: blur(10px);
  //   -webkit-backdrop-filter: blur(10px);
  // }
}
